<h1 class="text-center">TAKE HOME TEST</h1>
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-card-title class="title">Commit History</mat-card-title>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="example-table-container; mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" >
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>N°</th>
                        <td mat-cell *matCellDef="let element"> {{element.index}}</td>
                    </ng-container>
                    <ng-container matColumnDef="mensaje">
                        <th mat-header-cell *matHeaderCellDef> Mensaje </th>
                        <td mat-cell *matCellDef="let element"> {{element.commit.message}} </td>
                    </ng-container>
                    <ng-container matColumnDef="persona">
                        <th mat-header-cell *matHeaderCellDef> Persona </th>
                        <td mat-cell *matCellDef="let element"> <img class="adjust" src={{imagen}}
                                (click)="visualizarPerfil(element.index)" matTooltip="Ver perfil"
                                [matTooltipPosition]="'above'"> {{element.commit.committer.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.commit.committer.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha - Hora </th>
                        <td mat-cell *matCellDef="let element"> {{element.commit.committer.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef class="flex5"> Detalle </th>
                        <td mat-cell *matCellDef="let element" class="flex5">
                            <button mat-button (click)="visualizarDetalle(element.index)"
                                matTooltip="Visualizar detalle de cambios" [matTooltipPosition]="'above'">
                                <i class="material-icons coVerde">remove_red_eye</i>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <!-- PAGINADOR -->
            <mat-paginator [pageSizeOptions]="displayedSize" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>